/* 1. Target the Category Header LI */
li[class*="containerDefault"]:has([aria-expanded="false"]) {
  /* 2. Look at all siblings (~) that follow it */
  & ~ li[class*="containerDefault"] {
    /* 3. If the sibling is a channel AND is unread... */
    &:has([class*="unread"]) {
      /* 4. AND it is NOT selected (the one you are currently in) */
      &:not([class*="selected"]) {
        /* 5. STOP logic: Only hide if there isn't an OPEN category between them */
        &:not(li:has([aria-expanded="true"]) ~ *) {
           display: none !important;
        }
      }
    }
  }
}

/* Hide Dot Next to Unread Channels */

.unread__2ea32 {
    display: none;
}

/* Hide Popup Thing (eg. "NEW UNREADS") */

.bar__7aaec.emptyBar__7aaec {
    display: none;
}

/* Remove "New" Divider */

.divider__5126c.hasContent__5126c.divider__908e2.isUnread__908e2.hasContent__908e2 {
    display: none;
}

/* Remove "NEW" Icon On the Sidebar */

.unreadMentionsIndicatorBottom_ef3116.unreadMentionsFixedFooter_ef3116 {
    display: none;
}

/* Keep Icon Colors The Same */

.iconContainer__2ea32 > svg[role="img"], .iconContainer__2ea32 > svg[role="img"] {
    color: #988E79;
}
